@model IEnumerable<InfoVideo.Models.Format>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Фарматы відыёзапісаў</h2>

<p>
    <a href="@Url.Action("Create", "Formats")" class="btn btn-logo gray" title="Стварыць фармат">
        <i class="zmdi zmdi-plus-circle zmdi-hc-fw"></i>
        Стварыць новы
    </a>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Container)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Container)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Formats", new {id = item.Id})" title="Змяніць">
                <i class="zmdi zmdi-edit zmdi-hc-fw"></i>
            </a>
            <a href="@Url.Action("Details", "Formats", new {id = item.Id})" title="Падрабязнасці">
                <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
            </a>
            <a href="@Url.Action("Delete","Formats", new { id = item.Id })" title="Выдаліць">
                <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
            </a>

        </td>
    </tr>
}

</table>
