<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")


</head>

<body>

<header id="header" class="header">
    @RenderPage("Header.cshtml", false)
</header>

  

    <div class="header-slider">
        @RenderSection("Slider", false)
    </div>



        <div class="wrapper">

            <div id="content">
                @RenderBody()
            </div>




        </div>


        <footer id="footer">
            @RenderPage("Footer.cshtml", false)
        </footer>
        @Scripts.Render("~/bundles/Scripts")
</body>
</html>
