@using System.Web.Mvc.Html
@using InfoVideo.Models
<div class="logo">
    <div class="logo-text" onclick="location.href = '@Url.Action("Index", "Home")'">
        Hienadź Budkoŭski
    </div>
    <img id="img" class="logo-img" src="/Media/Images/movie.png" alt="" />
</div>
<div class="header-menu right">
    <ul>

        <li>
            <a href="@Url.Action("Index", "Home")" title="Дамоў">
                JavaScript
                <i class="zmdi zmdi-language-javascript zmdi-hc-lg"></i>
            </a>
        </li>


        <li>
            <a href="@Url.Action("Index", "Videos")" title="">
                Серыялы
                <i class="zmdi zmdi-view-list-alt zmdi-hc-lg"></i>
            </a>


            <ul>
                <li>
                    <a href="@Url.Action("Index", "Videos")" title="Дамоў">
                        List
                        <i class="zmdi zmdi-tv-list zmdi-hc-lg"></i>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Create", "Videos")" title="Дамоў">
                        Create
                        <i class="zmdi zmdi-plus-circle zmdi-hc-lg"></i>
                    </a>
                </li>

        
            </ul>

        </li>

      
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    <a href="" title="">
                        Пошук
                        <i class="zmdi zmdi-search zmdi-hc-lg"></i>
                    </a>
                </li>


                <li>
                    <a href="" title="">
                        Кошык
                        <i class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i>
                    </a>
                </li>
            }

        

        <li id="profile">
            @(User?.Identity?.Name.Length > 0 ? User.Identity.Name : Html.Raw("Профіль").ToString())
            <i class="zmdi zmdi-account zmdi-hc-lg"></i>
            <i class="angle"></i>
        </li>
    </ul>
    @{ Html.RenderPartial("UserPanel",new LoginModel()); }
</div>
