@using System.Web.Mvc.Html
@using InfoVideo.Models
<div class="logo">
    <div class="logo-text" onclick="location.href = '@Url.Action("Index", "Home")'">
        Hienadź Budkoŭski
    </div>
    <img id="img" class="logo-img" src="/Media/Images/movie.png" alt="" />
</div>
<div class="header-menu right">
    <ul>

        @if (User.IsInRole("Administrators"))
        {<li>
            <a href="@Url.Action("Index", "Home")" title="Дамоў">
                Працэдуры
                <i class="zmdi zmdi-settings zmdi-hc-lg"></i>
            </a>
            <ul>
                <li>
                    <a href="@Url.Action("Proc", "Home")">
                        ProcType
                        <i class="zmdi  zmdi-view-list-alt zmdi-hc-lg"></i>
                    </a>
                </li>

            </ul>
        </li>
}
        @if (User.Identity.IsAuthenticated)
        {
            if (User.IsInRole("Administrators"))
            {

                <li>
                    <a href="@Url.Action("Index", "Account")" title="Карыстачы">
                        Карыстачы
                        <i class="zmdi zmdi-accounts-list zmdi-hc-lg"></i>
                    </a>

                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "Roles")">
                                Ролі
                                <i class="zmdi   zmdi-filter-list zmdi-hc-lg"></i>
                            </a>
                        </li>

                    </ul>
                </li>
            }
            <li class="menu-breit">
                <a href="@Url.Action("Index", "Histories")" title="Гісторыя">
                    Гісторыя
                    <i class="fa fa-history" aria-hidden="true"></i>
                </a>

                @if (User.IsInRole("Administrators"))
                {
                    <ul>
                        <li>
                            <a href="@Url.Action("Statistics", "Histories")">
                                Статыстыка
                                <i class="zmdi   zmdi-filter-list zmdi-hc-lg"></i>
                            </a>
                        </li>

                    </ul>
                }
            </li>
        }

        <li>
            <a href="@Url.Action("Index", "Home")" title="Дамоў">
                Выданні
                <i class="zmdi zmdi-codepen zmdi-hc-lg"></i>
            </a>

            <ul>
                <li>
                    <a href="@Url.Action("Index", "Editions")">
                        Спіс
                        <i class="zmdi  zmdi-view-list-alt zmdi-hc-lg"></i>
                    </a>
                </li>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Administrators"))
                {
                    <li>
                        <a href="@Url.Action("Create", "Editions")">
                            Стварыць
                            <i class="zmdi zmdi-plus-circle zmdi-hc-lg"></i>
                        </a>
                    </li>
                }
            </ul>
        </li>
        @if (User.Identity.IsAuthenticated)
        {
            <li>
                <a href="@Url.Action("Index", "Home")" title="Дамоў">
                    Фарматы
                    <i class="zmdi zmdi-file zmdi-hc-lg"></i>
                </a>

                <ul>
                    <li>
                        <a href="@Url.Action("Index", "Formats")">
                            Спіс
                            <i class="zmdi  zmdi-view-list-alt zmdi-hc-lg"></i>
                        </a>
                    </li>
@if (User.Identity.IsAuthenticated && User.IsInRole("Administrators"))
{
    <li>
        <a href="@Url.Action("Create", "Formats")">
            Стварыць
            <i class="zmdi zmdi-plus-circle zmdi-hc-lg"></i>
        </a>
    </li>
}
                </ul>
            </li>

            <li>
                <a href="@Url.Action("Index", "Videos")">
                    Відыёзапісы
                    <i class="zmdi zmdi zmdi-videocam zmdi-hc-lg"></i>
                </a>


                <ul>
                    <li>
                        <a href="@Url.Action("Index", "Videos")">
                            Спіс
                            <i class="zmdi zmdi-view-list-alt  zmdi-hc-lg"></i>
                        </a>
                    </li>
                   @if (User.Identity.IsAuthenticated && User.IsInRole("Administrators"))
                   {
                       <li>
                           <a href="@Url.Action("Create", "Videos")">
                               Стварыць
                               <i class="zmdi zmdi-plus-circle zmdi-hc-lg"></i>
                           </a>
                       </li>
                   }

                </ul>

            </li>
        }





        <li id="profile">
            @(User?.Identity?.Name.Length > 0 ? User.Identity.Name : Html.Raw("Профіль").ToString())
            <i class="zmdi zmdi-account zmdi-hc-lg"></i>
            <i class="angle"></i>
        </li>
    </ul>
    @{ Html.RenderPartial("UserPanel",new LoginModel()); }
</div>
