
@model InfoVideo.Models.Users

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="registration">
        <h1 style="font-size: 30px;">Стварэнне ўліковага запісу</h1>
        <h4>Можна ўвайсці праз</h4>
        <div class="row-social">
            <button type="" class="btn btn-reg blue">
                <i class="btn-logo zmdi zmdi-facebook zmdi-hc-fw"></i> Sign by Facebook
            </button>

            <button type="" class="btn btn-reg ligth-blue right">
                <i class="btn-logo zmdi zmdi-google zmdi-hc-fw"></i> Sign by Google
            </button>

        </div>
        <p class="delimiter-txt"><span>Або зарэгістравацца</span></p>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Address, "", new {@class = "text-danger"})
            </div>
      
        </div>

     

        <div class="form-group">

            @Html.LabelFor(model => model.Password)
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.Login)
            <div class="col-md-10">
                @Html.EditorFor(model => model.Login)
                @Html.ValidationMessageFor(model => model.Login)
            </div>
        </div>

        <div class="form-group">

            <button type="button" onclick="validate();">Text</button>
            <input type="submit" value="Create" class="btn paddind-zero green" />

        </div>
    </div>
}
